
<div>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <!-- Your editor container -->
  <div id="editor-container" style="height: 200px; width: 100%;" name="blog_des"></div>
  <input id="blog-des-input" type="hidden" name="blog_des" <%- des == null ? "" : "required" %>>


  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- Include Quill JS -->
  <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

  <script>
    const savedContent = "<%- des %>";
    console.log(savedContent)

    var quill = new Quill('#editor-container', {
      theme: 'snow', // Use the 'snow' theme for a clean and simple interface
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }], // Header selector
          ['bold', 'italic', 'underline', 'strike'], // Basic formatting options
          [{ 'font': [] }],
          [{ 'color': [] }, { 'background': [] }], // Text color and background color selector
          [{ 'align': [] }], // Text alignment options
          [{ 'list': 'bullet' }], // Number list option
          [{ 'list': 'ordered' }], // Number list option
          [
            { 'script': 'sub', 'icon': 'fa fa-type-subscript' }, // Subscript option
            { 'script': 'super', 'icon': 'fa fa-type-superscript' } // Superscript option
          ],
        ],
      }
    });
     quill.on('text-change', function() {
      var html = quill.root.innerHTML;
      document.getElementById('blog-des-input').value = html;
    });
  </script>
  </div>
